<mat-toolbar color="primary">
  <span>
    <button class="nav-header" [routerLink]="['']" mat-flat-button color="primary">MyBlog</button>
    <!-- <a [routerLink] = "['']"> MyBlog </a>  -->
  </span>

  <span class="spacer"></span>
  
  <ul>

    <li *ngIf = "isLoggedIn" >
        <button class = "nav-link" mat-button [routerLink]="['create']" 
        routerLinkActive = "mat-accent" >Write New Post</button>
    </li>
    <li *ngIf = "!isLoggedIn" >
        <button class = "nav-link" mat-button [routerLink]="['login']" 
        routerLinkActive = "mat-accent" >Log In</button>
    </li>
    <li *ngIf = "!isLoggedIn" >
        <button class = "nav-link" mat-button [routerLink]="['signup']" 
        routerLinkActive = "mat-accent" >Sign Up</button>
    </li>
    <li *ngIf = "isLoggedIn" >
      <button class = "nav-link" (click) = "onLogOut()" mat-button>Log Out</button>
    </li>
    
  </ul>
</mat-toolbar>
