
mat-spinner {
    margin: 0 auto;   
}

.errorMessage {
    margin: 10rem auto;
    margin-top: 10rem;
    font-size: 2rem;
    text-align: center;
    color: darkgray;
}

.avatar-image {
    background-color: lightskyblue;
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
}

mat-card-content {
    font-size: 1.2rem;
    padding: 1rem;
}

button {
    font-size: 1rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
