<header>
    <app-header></app-header>
</header>
<main>
    <!-- old implementation -- Event based -->
    <!-- <app-post-create (postCreated)="onPostCreated($event)"></app-post-create>
    <br>
    <app-post-list class = "post-list" [posts] = "postList" ></app-post-list> -->

    <!-- new implementation -- service based -->
    <!-- <app-post-create></app-post-create>
    <br>
    <app-post-list></app-post-list> -->

    <!-- Router based implmentation -->
    <router-outlet></router-outlet>

</main>

