<mat-card>
<mat-spinner *ngIf = " isLoading " ></mat-spinner>
  <form [formGroup] = "form" *ngIf = " !isLoading " (submit) = "onSavePost()">

  <div class="imageContainer">

  <img class = "imagePreview" mat-card-image 
  [src]="imagePreview"
  alt="">

  <button class="filePickerButton" type="button" mat-stroked-button color="accent"
  (click)="fileChooser.click()">Choose Image</button>

  </div>

  <input class = "fileChooser" type="file" #fileChooser (change) = "onFileSelected($event)" >

  <mat-form-field>
    <input
    matInput 
    type="text" 
    formControlName = "title"
    id="postTitle"
    placeholder="Title"
    required>
  </mat-form-field>

  <mat-form-field>
    <textarea
    matInput
    rows="20"
    formControlName = "content"
    name="postContent"
    placeholder="Start wrting your post here......"
    required>
  </textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="accent">Save Post</button>
  </form>
</mat-card>

<!-- 
<mat-card>
  <mat-spinner *ngIf = " isLoading " ></mat-spinner>
<form *ngIf = " !isLoading "(ngSubmit) = "onSavePost(postForm)" #postForm = "ngForm">

<mat-form-field>
  <input
  matInput 
  type="text" 
  name="postTitle"
  #postTitle = "ngModel"
  id="postTitle"
  ngModel
  placeholder="Title"
  required>
</mat-form-field>


<mat-form-field>
  <textarea
  matInput
  rows="20"
  #postContent = "ngModel"
  name="postContent"
  ngModel
  placeholder="Start wrting your post here......"
  required>
</textarea>
</mat-form-field>

<button type="submit"  mat-raised-button color="accent">Save Post</button>
</form>
</mat-card> -->