<mat-accordion *ngIf="postList.length > 0; else noPosts">
  <mat-expansion-panel *ngFor=" let post of postList">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <p>{{ post.title }}</p>
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    {{ post.content }}

    <mat-action-row>
        <button mat-button>EDIT</button>
        <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noPosts>
  <p class = "body-1">
    No Posts yet!
  </p>
</ng-template>
