<div class="spinner-wrapper" *ngIf = "isLoading" >
  <mat-spinner></mat-spinner>
</div>

<mat-accordion *ngIf="postList.length && !isLoading">
  <mat-expansion-panel *ngFor=" let post of postList">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <p>{{ post.title }}</p>
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    {{ post.content }}

    <mat-action-row>
        <button mat-button [routerLink] = "['edit', post._id]" >EDIT</button>
        <button mat-button color="warn"  (click) = "deletePost(post._id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

  <p class = "body-1" *ngIf="postList.length <= 0 && !isLoading">
    No Posts yet!
  </p>
